<nav class="nav_bar" ng-controller="SplashController">
	
	<input class="company_search_bar" type="text" name="company_search" placeholder="Search by company name..." ng-model="searchText">
	<button value="Search" class="btn btn-info" ng-click="companySearch()"></button>

	<input class="email_bar" type="text" autofocus="true" ng-model="account.email" placeholder="Enter email..."> 
    <input class="password_bar" type="password" ng-model="account.password" placeholder="Enter secure password...">
	
	<button class="btn btn-info" ng-click="login()">Login</button>
	<button class="btn btn-default" ng-click="register()">Register</button>
	<button class="btn btn-info" ng-click="logout()">Logout</button>
</nav>
	