<section class="auth-form">
	<h2>Login or Search for a Company</h2>
	<div>
	Search: <input type="text" name="">
	</div>
	<div >
	Email: <input type="text" autofocus="true" ng-model="account.email"> 
	</div>
	<div>
	Password: <input type="password" ng-model="account.password">
	</div>
	<div>
	<button class="btn btn-info" ng-click="login()">Login</button>
	<button class="btn btn-default" ng-click="register()">Register</button>
	<button class="btn btn-info" ng-click="logout()">Logout</button>

	</div>
</section>
	